.dashboard {
  min-height: 100vh;
  background-color: #eeeff4;
}

.content {
  display: flex;
}

.mainContent {
  flex: 1;
  padding: 24px;
  overflow-y: auto;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #202020;
    margin-top: 0;
    margin-bottom: 24px;
  }
}
