.agreementWrapper {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 16px;
}

.sectionTitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.allCheck {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 24px;
  font-weight: bold;
}

.termBox {
  position: relative;
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.termText {
  strong {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
    color: #202020;
  }

  .description {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
    font-family: "Noto Sans KR";
  }
}

.checkArea {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 8px;
  padding-left: 4px;
  margin-bottom: 20px;

  .label {
    font-size: 14px;
    color: #202020;
  }

  .checked {
    color: #0085ff;
    font-size: 18px;
  }

  .unchecked {
    color: #ccc;
    font-size: 18px;
  }
}

.checked {
  color: #0085ff;
  font-size: 20px;
}

.unchecked {
  color: #ccc;
  font-size: 20px;
}
